.app-container {
  text-align: center;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #70c1b3;;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice {
  font-size: 3rem;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 20px;
}

.roll-button {
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.roll-button:hover {
  background-color: #0056b3;
}
